*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /* background-color:rgb(207, 207, 207); */
    overflow: auto;
    background-image: linear-gradient(rgb(52, 50, 50), rgb(159, 159, 159) );
}
#container{ 
    width: 80%; 
    /* background-color: rgb(62, 62, 62);     */
    margin: auto;   
}
#main{   
    height: 100vh;    
}
#clickMe{
  color: red;
  cursor: url('./images/cursor3.png'),auto;
  margin-right: 5vh;
}
/* --------header--------*/
header{
    background-color: rgb(52, 50, 50);
    color: white;
    height: 12vh;  /* the rest 88, mainPhoto   */
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between; 
}
header img{
  width: 7vh;
  border-radius: 50%;
}
header ul{
    display: flex;
    list-style: none;
    justify-items: center ;
    justify-content: space-around;
    
}
header ul li{
    margin-left: 30px;
    
   
}
header a{
  color: white;
  text-decoration: none;

  padding-top: 25px;
  padding-bottom: 25px;
}
header a:hover{
  color: rgb(6, 23, 255);
}
/*------------------main section--------------------*/

.mainPhoto{

    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5%;
    height: 88vh;
    
    } 

.imageBox {	
	position: relative;
	display: inline-block;
  height: 100%;
  margin: auto;
  align-items: center;
  /* padding-right: 20px; */
  
  }

  .imageBox img{
    border-radius: 50%;
  }
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;  
}
.imageBox:hover .overlay {
  opacity: 1;
}
.mainPhoto h1{    
    text-align: center;
    line-height: 2;
    margin-top: 20%;   
    font-family: 'Press Start 2P', cursive;
}
.mainText{
  height: 100%;
    line-height: 1.7em;
    padding: 0 100px 100px 0px;
    text-align: center;
    justify-content: center;
    }

  /*-------------------------------projects--------------*/
#projects{
  
 
  
  /* background-color: rgb(111, 111, 111); */
  text-align: center;
  height: auto;
}
.projects-bg{
  /* background-image: url('./images/python_code_background.png'); */
  background-image: linear-gradient(rgba(58, 63, 80, 0.7), rgba(118, 121, 131, 0.7)), url('./images/python_code_background.png');
		/* background-position: center; */
		background-repeat: repeat;
  /* background-size: cover; */
  min-height: 100vh;
  
  top: 100px;
  
}
#projects h2{
  
  color: rgb(255, 255, 255)
}
.projectsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  opacity: 1;

}
.line{
  width: 20%;
  height: 2px;
  background-color: rgb(228, 228, 228);
  opacity: 1;
}
.boxes{
  
  display: flex;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  /* height: 500px; */
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  color: white;   
}

 h2{
  font-family: 'Press Start 2P', cursive;
  color: white;
 }
 
 
 .video {
  /* border-bottom: 1px solid red; */
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 10px;
  width: 40vh;
  opacity: 0.7;
  transition: all 0.5s;
  
  
}
.video:hover{
  box-shadow: 0 0 15px rgb(0, 3, 5);
  width: 42vh;
  opacity: 1;
}

.video.expanded {
  z-index: 50;
   background-color: green;
   width: 70vh;
   box-shadow: 0 0 20px rgb(0, 2, 3);
   opacity: 1;
   /* position:absolute; */
}
.video-box{
  padding: 20px;
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
    
 /*---------------------------contact-----------------------*/
/* #contact{
  /* background-color: rgb(159, 159, 159); */

#contact h2{
  text-align: center;
  padding: 20px;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contactForm {
  margin: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px black;
} 
.contactMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.icons{
  align-items: center;
  
  padding: 20px;
}
.icons img{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 5px black;
}
 .bullet{
    position: absolute;
    height: 15px;
    width: 8px;
    background-color: red;
    z-index: 10;
}

/*----------------------------------footer--------------*/
footer{
  padding: 10px;
  background-color: gray;
}
 /* The animation code */
 @keyframes bullet {
    from {
        opacity: 1;
        transform: none;
      }
      to {
        opacity: 0;
        transform: translate3d(0, 100vh, 0);        
      }
  }
    /* The element to apply the animation to */
  .bullet{
    animation-name: bullet;
    animation-duration: 1s;     
  } 
  #about{    
    color: aliceblue;
    border: 1px solid red;
  }
  /*-----------------------------------------mobile---------------------------*/

  @media screen and (max-width: 580px) {
    body {
      
      font-size: 0.5em;
    }
    #main{
      height: 100vh;
    }
    header{
      height: 12vh;
      font-size: 1.7em;
    }
    #clickMe{
      display: none;
    }
    #container{ 
      width: 100%; 
      /* background-color: rgb(62, 62, 62);     */
      margin: auto;   
  }
  .mainPhoto h1{
    font-size: 2.2em;
  }
  .mainText{
    padding: 10px;
    /* padding-bottom: 10vh; */
    font-size: 1.5em;
    justify-content: flex-end;
  }
 
  .imageBox img{
    
    width: 80%;
    display: flex;
    margin: auto;
    
    
  }
  .mainPhoto{
    margin: auto;
    flex-direction: column;
    height: 88vh;
    justify-content: space-between;
   

    width: 80%;
  }
  .mainPhoto h1{
    margin-top: 5%;
  }
  #projects{
   margin-top: 10vh;
    height: auto;
    
  }

  
.projects-bg{
  /* background-image: url('./images/python_code_background.png'); */
  background-image: linear-gradient(rgba(58, 63, 80, 0.7), rgba(118, 121, 131, 0.7)), url('./images/python_code_background.png');
		/* background-position: center; */
		background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
  
  top: 100px;
  
}


  .projectsHeader{
    margin: 0;
    padding: 20px 20px 0 20px;
   
  }
.boxes{
  margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  /* flex-wrap: nowrap; */
   
}
.contactForm {
  margin: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px black;
} 
.bullet{
  display: none;
}

.video {
  /* border-bottom: 1px solid red; */
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 10px;
  width: 20vh;
  transition: all 0.5s;
  opacity: 0.5;
  
  
}
.video:hover{
  box-shadow: 0 0 15px rgb(0, 3, 5);
  width: 20vh;
  opacity: 1;
}

.video.expanded {
  z-index: 50;
   background-color: green;
   width: 100%;
   box-shadow: 0 0 20px rgb(0, 2, 3);
   opacity: 1;
   /* position:absolute; */
}
.video-box{
  padding: 20px;
  /* border: 1px solid red; */
  width: 80%;
}





  }